*,
*::before,
*::after
  box-sizing: border-box

*
  margin: 0

:root
  .theme-light
    --native: #fff
    --primary: #8743FF
    --secondary: #4136F1
    --error: #CE0000
    --success: #00A006
    --background: #EAF2FF
    --input-background: #979797
    --shadow-color: #1466CC
    --card-background: #fff

    --input-text: #949494
    --error-text: #E61800
    --success-text: #00A006

  .theme-dark
    --native: #000
    --primary: #8743FF
    --secondary: #4136F1
    --error: #E80000
    --success: #00BA06
    --background: #171717
    --input-background: #151515
    --shadow-color: #1466CC
    --card-background: #0D0D0D

    --input-text: #E80000
    --error-text: #00BA06
    --success-text: #00A006
