@import styles/_mixins
  
.phone
  position: relative
  display: flex
  align-items: center
  justify-content: center

  // img
  //   width: 360px
  //   z-index: 1

  &_container
    // position: absolute
    // width: 360px
    // height: 100%
    width: 375px
    height: 812px
    // top: 50%
    // left: 50%
    // transform: translate(-50%, -50%)
    // padding: 25px

    @include use-media(max, 576px)
      width: 100%